<p>Nacházíte se v archívu časopisu <strong>Raport</strong> (Ryze Avantgardní Pravidelná Občas Rýpavá
    Tiskovina), oficiálního periodika festivalu českého jazyka, řeči a literatury: <a
            href="http://www.sramkovasobotka.cz/">Šrámkova Sobotka</a>. Časopis <strong>Raport</strong> je od roku 2017
    ideologickým následníkem časopisu <a href="http://www.splav.cz/casopis/"><strong>Splav!</strong></a> Obsahy
    jednotlivých ročníků zobrazíte kliknutím na příslušné téma ročníku.</p>

To k ránu bylo as, neb měsíc zrůd,
a váš kůň hlavu zdvih,
a zvláštní věc měl jako já
prostřelený břich,
obsahy jednotlivých ročníků
zobrazíte kliknutím na téma ročníku.

<p><strong><a href="http://www.splav.cz/casopis/rok-2022/">2022 – Genius loci</a></strong>&nbsp;|&nbsp;<strong>66</strong>
    &nbsp;| &nbsp;Marie Ferynová, Jan Henyš, Ondřej Chaloupecký, Vojtěch Jandera, Vojtěch
    Kouřil, Klára Krásenská, Laura Makovičková, Kateřina Prášilová, Eliška Rybová, Martina Rybová, Barbora Schneiderová,
    Ondřej B. Vinš</p>

<p><strong><a href="http://www.splav.cz/casopis/rok-2021/">2021 – XXXXXXX</a></strong>&nbsp;|&nbsp;<strong>65</strong>
    &nbsp;| &nbsp;</p>


<p><strong><a href="http://www.splav.cz/casopis/rok-2020/">2020 – XXXXXXX</a></strong>&nbsp;|&nbsp;<strong>64</strong>
    &nbsp;| &nbsp;</p>

<p><strong><a href="http://www.splav.cz/casopis/rok-2019/">2019 – XXXXXXX</a></strong>&nbsp;|&nbsp;<strong>63</strong>
    &nbsp;| &nbsp;</p>


<p><strong><a href="http://www.splav.cz/casopis/rok-2018/">2018 – Čas v nás</a></strong>&nbsp;|&nbsp;<strong>62</strong>
    &nbsp;| &nbsp;</p>

<p><strong><a href="http://www.splav.cz/casopis/rok-2017/">2017 – Kritika</a></strong>&nbsp;|&nbsp;<strong>61</strong>
    &nbsp;| &nbsp;</p>