<blockquote class="wp-block-quote has-text-align-left is-style-default">
    <p>Na této stránce se nalézá kompletní vydání <a href="http://www.splav.cz/casopis/">časopisu Splav!</a> za rok YYYY. Téma
        XX. ročníku <a href="https://www.sramkovasobotka.cz" target="_blank">Šrámkovy Sobotky</a></strong> bylo „TÉMA HÝR“.
    </p>
</blockquote>

<p><strong>Neděle X.7. YYYY / číslo 1</strong></p>
<ul>
    <li>Autor: Název</li>
    <li></li>
    <li><a href="https://github.com/hadzimura/splav/blob/main/splav/YYYY/splav-YYYY-07-XX.pdf" target="_blank">elektronický text</a></li>
    <li><a href="https://github.com/hadzimura/splav/blob/main/splav/YYYY/splav-YYYY-07-XX-tisk.pdf" target="_blank">časopis k vytištění</a></li>
</ul>

<p><strong>Pondělí X.7. YYYY / číslo 2</strong></p>
<ul>
    <li></li>
    <li><a href="https://github.com/hadzimura/splav/blob/main/splav/YYYY/splav-YYYY-07-XX.pdf" target="_blank">elektronický text</a></li>
    <li><a href="https://github.com/hadzimura/splav/blob/main/splav/YYYY/splav-YYYY-07-XX-tisk.pdf" target="_blank">časopis k vytištění</a></li>
</ul>

<p><strong>Úterý X.7. YYYY / číslo 3</strong></p>
<ul>
    <li></li>
    <li><a href="https://github.com/hadzimura/splav/blob/main/splav/YYYY/splav-YYYY-07-XX.pdf" target="_blank">elektronický text</a></li>
    <li><a href="https://github.com/hadzimura/splav/blob/main/splav/YYYY/splav-YYYY-07-XX-tisk.pdf" target="_blank">časopis k vytištění</a></li>
</ul>

<p><strong>Středa X.7. YYYY / číslo 4</strong></p>
<ul>
    <li></li>
    <li><a href="https://github.com/hadzimura/splav/blob/main/splav/YYYY/splav-YYYY-07-XX.pdf" target="_blank">elektronický text</a></li>
    <li><a href="https://github.com/hadzimura/splav/blob/main/splav/YYYY/splav-YYYY-07-XX-tisk.pdf" target="_blank">časopis k vytištění</a></li>
</ul>

<p><strong>Čtvrtek X.7. YYYY / číslo 5</strong></p>
<ul>
    <li></li>
    <li><a href="https://github.com/hadzimura/splav/blob/main/splav/YYYY/splav-YYYY-07-XX.pdf" target="_blank">elektronický text</a></li>
    <li><a href="https://github.com/hadzimura/splav/blob/main/splav/YYYY/splav-YYYY-07-XX-tisk.pdf" target="_blank">časopis k vytištění</a></li>
</ul>

<p><strong>Pátek X.7. YYYY / číslo 6</strong></p>
<ul>
    <li></li>
    <li><a href="https://github.com/hadzimura/splav/blob/main/splav/YYYY/splav-YYYY-07-XX.pdf" target="_blank">elektronický text</a></li>
    <li><a href="https://github.com/hadzimura/splav/blob/main/splav/YYYY/splav-YYYY-07-XX-tisk.pdf" target="_blank">časopis k vytištění</a></li>
</ul>
